/**
 * admin/importer.scss
 *
 */

// Foundation Settings
$table-bg: #ededed;
$table-even-row-bg: #ededed;
$table-border-color: #d5d3d3;
$table-head-bg: #e7e7e7;
$table-head-font-color: #1f1f1f;

// Import zurb foundation framework
@import "assets/bower_components/foundation/scss/foundation";

/*
 * MyStand mixins and variables
 *
 */
// $header-height: 100px;
// $header-height-small: 60px;
$footer-bg-color: #363636;

@import 'main.scss';
