body {
  background-color: $footer-bg-color;
}

body * {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}


/**
 * Header
 */
.ms-admin-header {
  background-color: #2f2f2f;
  color: #fff;
  height: 80px;
  line-height: 80px;

  a {
    color: #fff;
  }

  .user-image {
    height: 45px;
    border-radius: 100%;
    float: right;
    margin-left: 20px;
    margin-top: 16px;
  }

  .user-name {
    float: right;
  }
}

.ms-admin-header-divider {
  background-color: #e7e7e7;
  height: 40px;
}


/**
 * Footer
 */
.ms-admin-footer {
  background-color: $footer-bg-color;
  color: #fff;
  height: 200px;
  line-height: 200px;

  h6 {
    font-size: 15pt;
    color: #fff;
    line-height: inherit;
  }
}

.ms-admin-center {
  background: #959595;

  .ms-admin-center-inner {
    background: #2f2a2a;
  }
}


/**
 * Menu
 */
.ms-admin-menu-wrapper {
  .ms-admin-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 1px 0;

      &.active, &:hover {
        a {
          color: #f00;
          background-color: #fff;
          border-left: 7px solid #00c4ee
        }
      }
    }

    a {
      color: #fff;
      display: block;
      padding: .5em 1em;
      background-color: #5f5959;
    }
  }
}


/**
 * Content
 */
.ms-admin-content {
  background-color: #d5d3d3;
  min-height: 400px;
  padding: 10px;

  .ms-admin-table {
    width: 100%;
  }
}


/**
 * Pagination
 */
.ms-admin-pagination {
  text-align: center;

  button {
    border: 2px solid #464646;
    color: #464646;
    font-size: 1em;
    line-height: 1em;
    padding: .5em;
    background: none;
  }
}


/**
 * Utility
 */
.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}
