<div class="off-canvas-wrap ms-landing-wrapper" data-offcanvas>
  <div class="inner-wrap">
    <ng-include src="'assets/templates/shared/off-canvas-menu.html'"></ng-include>
    <ng-include src="'assets/templates/shared/header.html'"></ng-include>

    <section class="header-section">
      <div class="header-bg">
        <div class="ms-page-content-center">
          <div class="row">
            <div class="large-2 columns">&nbsp;</div>
            <div class="large-8 columns">
              <h1 class="spaced">Take a stand</h1>
              <hr />
              <span class="spaced">Ullamcorper Sollicitudin Ridiculus Ultricies</span>
              <div class="text-center">
                <br><br>
                <a class="ms-button-transparent white uppercase">Get Started</a>
              </div>
            </div>
            <div class="large-2 columns">&nbsp;</div>
          </div>
        </div>
      </div>
    </section>

    <section class="ms-scrolling-bg white-bg">
      <div class="ms-page-content">
        <div class="row">
          <div class="large-12 columns">
            <div class="text-center">
              <h2>Discover your stands</h2>
              <h4 class="uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
              <br><br>
              <a ng-href="#/discover" class="ms-button-transparent black uppercase">Discover</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Featured Stands -->
    <section class="ms-scrolling-bg featured-section">
      <div class="city-bg">
        <div class="ms-page-content">
          <div class="row">
            <div class="text-center">
              <h2>Featured Stands</h2>
              <h4 class="uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
            </div>
          </div>
          <div class="row">
            <!-- Slick Carousel <http://kenwheeler.github.io/slick/> -->
            <div class="ms-featured-stands">
              <!-- Featured Stand -->
              <div class="featured-stand" ng-repeat="stand in featuredStands">
                  <div class="large-8 small-12 columns">
                    <iframe id="player" type="text/html" class="youtube-player" width="100%"
                      ng-src="{{stand.youtube}}"
                      frameborder="0"  modestbranding="1" autohide="1" showinfo="1" controls="1";></iframe>
                  </div>

                  <div class="large-4 small-12 columns right-part">
                    <div class="right-part-inner">
                      <!-- Featured Stand Title -->
                      <h3><a ng-href="#/stands/{{stand.id}}">{{stand.title}}</a></h3>
                      <!-- Featured Stand Tagline -->
                      <h4 class="uppercase">#{{stand.category}}</h4>
                      <hr>
                      <!-- Featured Stand Description -->
                      <p class="show-for-medium-up">
                        {{stand.description}}
                      </p>
                      <!-- Featured Stand Progress Meter -->
                      <div class="progress">
                        <span class="meter"></span>
                      </div>
                      <!-- Featured Stand Progress Numbers -->
                      <span>{{stand.actions_count}} heroes have taken this stand.</span>
                      <span>Let's get to {{stand.goal}}.</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ms-scrolling-bg white-bg trending-section">
      <div class="ms-page-content">
        <div class="row">
          <div class="large-12 columns">
            <div class="text-center">
              <h2>TRENDING STANDs</h2>
              <h4 class="uppercase">Maecenas mattis, Sed convallis tristique sem</h4>
              <div class="row">
                <div class="ms-trending-stands">
                  <div class="large-4 columns" ng-repeat="stand in trendingStands">
                  <div class="trending-stand">
                      <div class="trend-img">
                        <img ng-src='{{stand.image_original_url}}'>
                      </div>
                      <div class="details show-for-medium-up">
                        <h4><a ng-href="#/stands/{{stand.id}}">{{stand.title}}</a></h4>
                        <p class="italic">#{{stand.category}}</p>
                        <p>{{stand.description}}</p>
                        <div class="progress">
                          <span class="meter"></span>
                        </div>
                        <span class="count-detail">{{stand.actions_count}} heroes have taken this stand.</span>
                        <span class="count-detail">Let's get to {{stand.goal}}.</span>
                      </div>
                      <div class="details show-for-small-only">
                        <h4>{{stand.title}}</h4>
                        <span class="italic">#{{stand.category}}</span>
                        <div class="progress">
                          <span class="meter"></span>
                        </div>
                        <div class="row">
                          <div class="small-6 columns">
                            <span class="count">{{stand.actions_count}}</span>
                            <span class="count-detail">heroes have taken this stand.</span>
                          </div>
                          <div class="small-6 columns">
                            <span class="count">{{stand.goal}}</span>
                            <span class="count-detail">needed to complete.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ms-scrolling-bg girl-bg ms-fixed-bg join-section">
      <div class="ms-page-content">
        <div class="row">
          <div class="large-12 columns">
            <div class="text-center">
              <h2>START YOUR JOURNEY</h2>
              <h4 class="uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
              <br><br>
              <a class="ms-button-transparent white uppercase">Join</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ms-scrolling-bg appstore-section white-bg">
      <div class="ms-page-content">
        <div class="row">
          <div class="large-7 small-12 columns">
            <h2>about the app</h2>
            <span class="uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span class="uppercase">
            <h3> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </h3>
            <span class="italic">Dapibus Condimentum Fermentum</span>
            <br>
            <a href="http://store.apple.com/us" target="blank"><ng-include src="'assets/templates/shared/appstore-svg.html'"></ng-include></a>
          </div>
          <div class="large-7 small-0 columns">
            <img class="iphone show-for-large-up" src="/images/landing/phone.png">
          </div>
        </div>
      </div>
    </section>

    <ng-include src="'assets/templates/shared/footer.html'"></ng-include>
    <ng-include src="'assets/templates/modals/sign-in.html'"></ng-include>

  </div>
</div>
