<ng-include src="'assets/templates/shared/header-guest.html'"></ng-include>

<section class="ms-fixed-bg ms-bg-1 header-section">
  <div class="ms-page-content-center">
    <div class="row">
      <div class="large-2 columns">&nbsp;</div>
      <div class="large-8 columns">
        <h1 class="spaced">Take a stand</h1>
        <hr />
        <span class="spaced">Ullamcorper Sollicitudin Ridiculus Ultricies</span>
        <div class="text-center">
          <br><br>
          <a class="ms-button-transparent white spaced uppercase">Get Started</a>
        </div>
      </div>
      <div class="large-2 columns">&nbsp;</div>
    </div>
  </div>
</section>

<section class="ms-scrolling-bg">
  <div class="fa-bg-2">
    <div class="ms-page-content">
      <div class="row">
        <div class="large-12 columns">
          <div class="text-center">
            <h2>Discover your stands</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
            <br><br>
            <a class="ms-button-transparent black uppercase">Discover</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ms-scrolling-bg">
  <div class="fa-bg-2">
    <div class="ms-page-content">
      <div class="row">
        <div class="large-12 columns">
          <div class="text-center">
            <h1>START YOUR JOURNEY</h1>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
            <br><br>
            <a class="ms-button-transparent black uppercase">Join</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ms-scrolling-bg appstore-section">
  <div class="fa-bg-2">
    <div class="ms-page-content">
      <div class="row">
        <div class="large-7 small-12 columns">
            <h2>about the app</h2>
            <span class="uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span class="uppercase">
            <h3> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </h3>
            <span class="italic">Dapibus Condimentum Fermentum</span>
          </div>
          <div class="large-7 small-12 columns">
            <img class="iphone" src="/images/landing/phone.png">
          </div>
      </div>
    </div>
  </div>
</section>

<ng-include src="'assets/templates/shared/footer.html'"></ng-include>
