<section class="profile-stats-section">
  <div class="row">
    <div class="large-6 columns"></div>
    <div class="large-6 columns">
      <span class="uppercase left count-detail">my impact</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-6 columns">
      <div class="avatar-box left">
        <img class="avatar-small left" ng-src="{{currentUser.image_original_url}}"/><h3 class="left profile-name">{{currentUser.first_name}} {{currentUser.last_name}}</h3>
      </div>
    </div>
    <div class="large-2 columns">
      <span class="count">{{currentUser.score}}</span>
      <span class="count-detail uppercase">activism score</span>
    </div> 
    <div class="large-2 columns">
      <span class="count">{{currentUser.bystanders}}</span>
      <span class="count-detail uppercase">bystanders</span>
    </div> 
    <div class="large-2 columns">
      <span class="count">{{currentUser.mystanders}}</span>
      <span class="count-detail uppercase">mystanders</span>
    </div> 
  </div>
</section>

<div class="center-nav-bar">
  <div class="row">
  <a ng-href="/profile" ng-click="mode = bio"><li ng-class="{'active': mode === 'bio'}">profile</li></a>
  <a ng-href="/profile/manage" ng-click="mode = manage"><li ng-class="{'active': mode === 'manage'}">manage stands</li></a>
  <a ng-href="/profile/activity" ng-click="mode = activity"><li ng-class="{'active': mode === 'activity'}">my activity</li></a>
  <a ng-href="/profile/notifications" ng-click="mode = notifications"><li ng-class="{'active': mode === 'notifications'}">notifications</li></a>
  <li class="scroll-top-button" ng-click="scrollUp()"><i class="fa fa-chevron-up"></i>&nbsp;&nbsp;back to top </li>
  </div>
</div>
<!-- <div class="nav-box">
  <ng-include src="tabUrl"></ng-include>
</div> -->


