DATABASE_URL=postgres://postgres:@db:5432/postgres
REDISGREEN_URL=redis://redis:@redis:6379/0
AWS_S3_BUCKET_NAME=mystand_test
AWS_ACCESS_KEY_ID=abc
AWS_SECRET_ACCESS_KEY_ID=abc
FACEBOOK_CLIENT_ID=1423746114594711
FACEBOOK_CLIENT_SECRET=45cf27451fbb2dc029abe824df8b2827
AUTH_CALLBACK_HOST_WITH_PORT=mystand.local:1337
