<div class="off-canvas-wrap full ms-signup-page" data-offcanvas>
  <div class="inner-wrap">
    <div class="invert-header">
      <ng-include onload="readyHeader()" src="'assets/templates/shared/header.html'"></ng-include></ng-include></ng-include>
    </div>

    <section class="signup-section">
      <div class="header-space">
        <h1 class="title">sign up here</h1>
      </div>
      <div class="triangle"></div>
      <div class="row narrow">
        <div class="large-12 columns">
          <div class="login-buttons">
            <div class="facebook-button signup-button" ng-click="signUp()">Sign Up with <b>Facebook</b></div>
            <div class="google-button signup-button">Sign Up with <b>Google+</b></div>
          </div>
          <div class="row">
            <div class="small-5 columns">
              <hr/>
            </div>
            <div class="small-2 columns">
              <h3 class='uppercase detail'><b>or</b></h3>
            </div>
            <div class="small-5 columns">
              <hr/>
            </div>
          </div>
          <form name="form.user" ng-submit="userSignUp()" novalidate autocomplete='off'>
            <div class="field-div">
              <input 
                class="user-input" 
                ng-class="{'input-alert': formErrorMessages['first_name']}" 
                ng-model='newUser.first_name' 
                id='user_first' 
                name='user_first' 
                type='text' 
                ng-required='true'>
              </input>
              <label class="user-label">first name</label> 
              <span ng-show="formErrorMessages['first_name']" class="validation-error">{{formErrorMessages['first_name'].message}}</span>

            </div>
            <div class="field-div">
              <input 
                class="user-input" 
                ng-class="{'input-alert': formErrorMessages['last_name']}" 
                ng-model='newUser.last_name' 
                id='user_last' 
                name='user_last' 
                type='text' 
                ng-required='true'>
              </input>
              <label class="user-label">last name</label>
              <span ng-show="formErrorMessages['last_name']" class="validation-error">{{formErrorMessages['last_name'].message}}</span>
            </div>
            <div class="field-div">
              <input 
                class="user-input" 
                ng-class="{'input-alert': formErrorMessages['email']}" 
                ng-model='newUser.email' 
                id='user_email' 
                name='user_email' 
                type='email' 
                ng-required='true'>
              </input>
              <label class="user-label">email</label>
              <span ng-show="formErrorMessages['email']" class="validation-error">{{formErrorMessages['email'].message}}</span>
            </div>
            <div class="field-div">
              <input 
                class="user-input" 
                ng-minlength="8" 
                ng-model='newUser.password' 
                id='user_password' 
                name='user_password' 
                type='password' 
                ng-required='true'>
              </input>
              <label class="user-label">password</label>
              <span ng-show="formErrorMessages['password']" class="validation-error">{{formErrorMessages['password'].message}}</span>
            </div>
            <div class="field-div">
              <input 
                class="user-input" 
                same-as='{{newUser.password}}' 
                ng-minlength="8" 
                class="user-input" 
                ng-model='newUser.password_confirmation' 
                id='user_confirm_password'
                name='user_confirm_password' 
                type='password' 
                ng-required='true'>
              </input>
              <label class="user-label">confirm password</label>
            </div>
            <small class="signup-error">Incorrect Email or Password</small>
            <p class="detail">By clicking Sign Up, you agree to Mystand's <a class="detail-link">privacy policy.</a></p>
            <input class="login-button signup-button" value="Sign Up" type="submit" />
          </form>
          <p class="detail large">Already have an account? <a class="detail-link" ng-click="signInRedirect('discover')">Log in.</a></p>
        </div>
      </div>
    </section>
  </div>
</div>