<div class="off-canvas-wrap full ms-create-page" data-offcanvas>
  <div class="inner-wrap">
    <div class="invert-header">
      <ng-include onload="readyHeader()" src="'assets/templates/shared/header.html'"></ng-include></ng-include></ng-include>
    </div>

    <section class="signup-section">
      <div class="header-space">
        <h1 class="header-space-title">sign up here</h1>
        <div class="triangle-mask-block">
          <div class="left-rect left"></div>
          <div class="inverted-triangle-box">
            <div class="inverted-triangle lefty">
              <div class="rect"></div>
            </div>
            <div class="inverted-triangle righty">
              <div class="rect"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row narrow">
        <div class="large-12 columns">
          <div class="login-buttons">
            <a class="facebook-button signup-button" target="_self" href="/auth/facebook">Sign Up with <b>Facebook</b></a>
            <a class="google-button signup-button" target="_self" href="/auth/facebook">Sign Up with <b>Google+</b></a>
          </div>
          <div class="row">
            <div class="small-5 columns">
              <hr/>
            </div>
            <div class="small-2 columns">
              <h3 class='uppercase detail'><b>or</b></h3>
            </div>
            <div class="small-5 columns">
              <hr/>
            </div>
          </div>
          <form name="form.user" ng-submit="userSignUp()" novalidate autocomplete='off'>
            <div class="field-div">
              <input
                class="input-field"
                ng-class="{'input-alert': formErrorMessages['first_name']}"
                ng-model='newUser.first_name'
                id='user_first'
                name='user_first'
                type='text'
                ng-required='true'>
              </input>
              <label class="input-label">first name</label>
              <span ng-show="formErrorMessages['first_name']" class="validation-error">{{formErrorMessages['first_name'].message}}</span>

            </div>
            <div class="field-div">
              <input
                class="input-field"
                ng-class="{'input-alert': formErrorMessages['last_name']}"
                ng-model='newUser.last_name'
                id='user_last'
                name='user_last'
                type='text'
                ng-required='true'>
              </input>
              <label class="input-label">last name</label>
              <span ng-show="formErrorMessages['last_name']" class="validation-error">{{formErrorMessages['last_name'].message}}</span>
            </div>
            <div class="field-div">
              <input
                class="input-field"
                ng-class="{'input-alert': formErrorMessages['email']}"
                ng-model='newUser.email'
                id='user_email'
                name='user_email'
                type='email'
                ng-required='true'>
              </input>
              <label class="input-label">email</label>
              <span ng-show="formErrorMessages['email']" class="validation-error">{{formErrorMessages['email'].message}}</span>
            </div>
            <div class="field-div">
              <input
                class="input-field"
                ng-minlength="8"
                ng-model='newUser.password'
                id='user_password'
                name='user_password'
                type='password'
                ng-required='true'>
              </input>
              <label class="input-label">password</label>
              <span ng-show="formErrorMessages['password']" class="validation-error">{{formErrorMessages['password'].message}}</span>
            </div>
            <div class="field-div">
              <input
                class="input-field"
                same-as='{{newUser.password}}'
                ng-minlength="8"
                class="input-field"
                ng-model='newUser.password_confirmation'
                id='user_confirm_password'
                name='user_confirm_password'
                type='password'
                ng-required='true'>
              </input>
              <label class="input-label">confirm password</label>
            </div>
            <small class="input-error">Incorrect Email or Password</small>
            <p class="detail">By clicking Sign Up, you agree to Mystand's <a class="detail-link">privacy policy.</a></p>
            <input class="login-button signup-button" value="Sign Up" type="submit" />
          </form>
          <p class="detail large">Already have an account? <a class="detail-link" ng-click="signInRedirect('discover')">Log in.</a></p>
        </div>
      </div>
    </section>
  </div>
</div>
