<div class="off-canvas-wrap full ms-welcome-page" data-offcanvas>
  <div class="inner-wrap">
    <div class="invert-header">
      <ng-include onload="readyHeader()" src="'assets/templates/shared/header.html'"></ng-include></ng-include></ng-include>
    </div>

    <section class="welcome-section">
      <div class="header-space blue">
        <h1 class="title">welcome to my stand</h1>
      </div>
      <div class="triangle blue"></div>
      <div class="row narrow">
        <div class="large-12 columns">
          <div class="welcome-box">
            <h4>your account has been verified!</h4>
            <h4>click <a class="classic-link" ng-href="profile">here</a> to complete your profile</h4>
            <br>
            <h4>or</h4>
            <br>
            <div class="start-button" ng-href="start"><h4>get started</h4></button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
