<div class="off-canvas-wrap full ms-stands-show-page" data-offcanvas>
  <div class="inner-wrap">
    <div class="invert-header">
      <ng-include onload="readyHeader()" src="'assets/templates/pub/shared/header.html'"></ng-include></ng-include></ng-include>
    </div>
    <ng-include src="'assets/templates/pub/modals/create-action.html'"></ng-include>

    <div class="ms-stand">
      <div class="row">
        <div class="large-12 columns title-box">
          <h2>{{stand.title}}</h2>
          <h5 class="uppercase">By {{author.first_name}} {{author.last_name}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns movie-part">
         <iframe ng-if="stand.youtube"
                 id="player"
                 type="text/html"
                 class="youtube-player"
                 width="100%"
                 ng-src="{{stand.youtube}}"
                 frameborder="0"
                 modestbranding="1"
                 autohide="1"
                 showinfo="1"
                 controls="1";></iframe>
          <img ng-if="stand.image_original_url && !stand.youtube" class="stand-image" ng-src="{{stand.image_original_url}}"/>
        </div>
        <div class="large-4 columns">
          <div class="details-box">
            <h1 class="count">{{stand.actions_count}}</h1>
            <span class="uppercase count-detail">heroes of <b>{{stand.goal}}</b></span>
            <h1 class="count">{{stand.days_count}}</h1>
            <span class="uppercase count-detail">days to go</span>
          <div class="uppercase action-button" ng-click="takeAction()">take action</div>
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns">
          <div class="left">
            <span class="uppercase inline share-detail left">share on</span>
            <span class="uppercase inline"><img class="social-icon" src="/images/facebook_icon.png"><img class="social-icon" src="/images/twitter_icon.png"><img class="social-icon" src="/images/google_icon.png"></span>
          </div>
          <div class="right">
            <span class="uppercase inline" ng-click="bookmarkStand()">bookmark <i class="fa fa-bookmark"></i></span>
            <span class="uppercase inline" ng-click="flagStand()">flag <i class="fa fa-flag"></i></span>
          </div>
          <span class="uppercase impact" ng-if="stand.currentUser"><span class="bold">my impact:</span> <b>453</b> bystanders <b>25</b> mystanders</span>
          <div class="left stand-description">{{stand.description}}</div>
        </div>
        <div class="large-4 columns">
          <div class="profile-box">
            <a ng-href="users/{{stand.user}}"><img class="avatar-tiny" src="{{author.image_original_url}}"/><span class="uppercase inline author-title">{{author.first_name}} {{author.last_name}}</span></a>
            <a href="{{author.website}}"><span class="detail link">{{author.website}}</span></a>
            <span class="detail record"><b>{{author.stands_count}}</b> Stands created | <b>{{author.score}}</b> Activism Score</span>
            <span class="detail">{{author.bio}}</span>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="center-nav-bar">
      <div class="row">
      <li ng-class="{'active': isActiveTab('details')}" ng-click="changeTab('details')">details</li>
      <li ng-class="{'active': isActiveTab('updates')}" ng-click="changeTab('updates')">updates({{stand.updates_count}})</li>
      <li ng-class="{'active': isActiveTab('actions')}" ng-click="changeTab('actions')">actions({{stand.actions_count}})</li>
      <li ng-class="{'active': isActiveTab('comments')}" ng-click="changeTab('comments')">comments</li>
      <li class="scroll-top-button" ng-click="scrollUp()"><i class="fa fa-chevron-up"></i>&nbsp;&nbsp;back to top </li>
      </div>
    </div>
    <div class="nav-box">
      <ng-include src="tabUrl"></ng-include>
      <div ng-if="stand.currentUser" class="row disqus-box">
        <div id="disqus_thread"></div>
      </div>
    </div>
  </div>
</div>
