<!DOCTYPE html>
<html ng-app="myStandApp">
  <head>
    <title>My Stand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="fragment" content="!" />
    <base href="/">

    <!-- <link rel="stylesheet" href="/styles/importer.css"> -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <script type="text/javascript">
      window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>
  </head>
  <body>
    <ng-view autoscroll="true"></ng-view>
    <ng-include src="'assets/templates/shared/footer.html'"></ng-include>
    <ng-include src="'assets/templates/modals/sign-in.html'"></ng-include>
    <ng-include src="'assets/templates/modals/dialogue.html'"></ng-include>

    <script type="text/javascript">
      SignedIn = <%=req.session.user ? 'true' : 'false' %>;
    </script>

    <!-- DO NOT REMOVE OR CHANGE THESE COMMENTS -- >
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!-- DO NOT REMOVE OR CHANGE THESE COMMENTS -- >
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/current-user/service.js"></script>
    <script src="/js/discover/controller.js"></script>
    <script src="/js/header/controller.js"></script>
    <script src="/js/landing/controller.js"></script>
    <script src="/js/landing/featuredStand.js"></script>
    <script src="/js/landing/trendingStand.js"></script>
    <script src="/js/profile/service.js"></script>
    <script src="/js/routes.js"></script>
    <script src="/js/sign-in/controller.js"></script>
    <script src="/js/sign-up/controller.js"></script>
    <script src="/js/stand-update/service.js"></script>
    <script src="/js/stands/controller.js"></script>
    <script src="/js/stands/service.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
