<!DOCTYPE html>
<html ng-app="myStandApp">
  <head>
    <title>My Stand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="fragment" content="!" />
    <base href="/">

    <!-- <link rel="stylesheet" href="/styles/importer.css"> -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/pub/importer.css">
    <link rel="stylesheet" href="/bower_components/textAngular/src/textAngular.css">
    <!--STYLES END-->
    <script type="text/javascript">
      window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>
  </head>
  <body>
    <ng-view autoscroll="true"></ng-view>
    <ng-include src="'assets/templates/pub/shared/footer.html'"></ng-include>
    <ng-include src="'assets/templates/pub/modals/sign-in.html'"></ng-include>
    <ng-include src="'assets/templates/pub/modals/dialogue.html'"></ng-include>

    <script type="text/javascript">
      SignedIn = <%=req.session.user ? 'true' : 'false' %>;
    </script>

    <!-- DO NOT REMOVE OR CHANGE THESE COMMENTS -- >
    <!--TEMPLATES-->
    <script type="text/javascript" src="/pub/jst.js"></script>
    <!--TEMPLATES END-->

    <!-- DO NOT REMOVE OR CHANGE THESE COMMENTS -- >
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="/bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
    <script src="/bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script src="/bower_components/textAngular/dist/textAngular.min.js"></script>
    <script src="/js/pub/app.js"></script>
    <script src="/js/pub/categories/service.js"></script>
    <script src="/js/pub/current-user/service.js"></script>
    <script src="/js/pub/discover/controller.js"></script>
    <script src="/js/pub/file-s3-uploader/controller.js"></script>
    <script src="/js/pub/file-s3-uploader/index.js"></script>
    <script src="/js/pub/file-s3-uploader/service.js"></script>
    <script src="/js/pub/flags/service.js"></script>
    <script src="/js/pub/header/controller.js"></script>
    <script src="/js/pub/landing/controller.js"></script>
    <script src="/js/pub/landing/featuredStand.js"></script>
    <script src="/js/pub/landing/trendingStand.js"></script>
    <script src="/js/pub/profile/controller.js"></script>
    <script src="/js/pub/profile/service.js"></script>
    <script src="/js/pub/profile/userBookmark.js"></script>
    <script src="/js/pub/profile/userNotification.js"></script>
    <script src="/js/pub/profile/userStand.js"></script>
    <script src="/js/pub/routes.js"></script>
    <script src="/js/pub/sign-in/controller.js"></script>
    <script src="/js/pub/sign-up/controller.js"></script>
    <script src="/js/pub/stand-actions/service.js"></script>
    <script src="/js/pub/stand-updates/service.js"></script>
    <script src="/js/pub/stands/controller.js"></script>
    <script src="/js/pub/stands/service.js"></script>
    <script src="/js/pub/stands/updates/controller.js"></script>
    <script src="/js/pub/user-actionable-stands/service.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
