<footer class="ms-footer">
  <div class="inner">
    <div class="row">
      <div class="large-12 columns">



        <ng-s3-file-upload data="someModel.image_path" mode="image" show-progress="1" />




        <h6 class="logo">MYSTAND</h6>
        <div class="right-side">
          <li><a ng-href="/about"></a>about us</li>
          <li class="divider">|</li>
          <li><a ng-href="/contact"></a>contact</li>
          <li class="divider">|</li>
          <li><a ng-href="/appstore"></a>appstore</li>
          <li class="divider">|</li>
          <li><a ng-href="/privacy"></a>privacy</li>
        </div>
      </div>
    </div>
  </div>
</footer>
