<div id="create-action-modal" class="reveal-modal dialogue-modal create-action-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h3 class="logo"> LOGO </h3>
  <div class="inner-wrapper">
    <form name="form" ng-submit="fileUpload()" novalidate autocomplete='off'>
     <div class="field-div">
       <label class="right action-label">*you may only do one action at a time</label>
       <label class="uppercase left action-label">paste your youtube link here</label>
       <input class="action-input" ng-model="newAction.youtube" name="youtube" type="text"></input>
       <div class="row">
         <div class="small-5 columns">
           <hr/>
         </div>
         <div class="small-2 columns">
           <h3 class='uppercase'><b>or</b></h3>
         </div>
         <div class="small-5 columns">
           <hr/>
         </div>
       </div>
       <label class="uppercase action-label left">UPLOAD PHOTO</label>
       <div class="clearfix"></div>
       <div class="input-row">
         <label class="left action-label">Select File: </label>
         <input class="input-path action-input" ng-model="newAction.image_original_url" name="image_original_url" type="text"></input>
         <!-- <input ng-model="$newAction.file[0].name" class="input-path"></input> -->
         <label class="upload-button">
             <input onchange="angular.element(this).scope().onSelect(this.files)" class="upload-input" type="file" name="file" ng-required="true"/>
             <span>BROWSE</span>
         </label>
        </div>
       <div class="clearfix"></div>
       <label class="uppercase left action-label">caption</label>
       <textarea 
         class="input-field action-input area short" 
         ng-minlength="1"
         ng-class="{'input-alert': formErrorMessages['description'], 'ng-invalid': newAction.description.length > 144}" 
         ng-model='newAction.description' 
         id='stand_description' 
         name='stand_description' 
         type='text' 
         ng-required='true'>
       </textarea>
       <span class="counter">{{144 - newAction.description.length}} Characters</span>
       <span ng-show="formErrorMessages['description']" class="validation-error">{{formErrorMessages['description'].message}}</span>
     </div>
     <div class="clearfix"></div>
     <div class="right button-box">
       <span class="cancel uppercase" ng-click="closeModal()"><u>Cancel</u></span>
       <input class="dialogue-button" ng-click="closeModal()" value="Submit" type="submit" />
     </div>
   </form>
  </div>
</div> 