<div ng-controller="SignInCtrl" id="sign-in-modal" class="reveal-modal sign-in-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="modal-position-wrapper">
    <a class="close-reveal-modal show-for-small-only" aria-label="Close">&#215;</a>
    <h1 class="logo">MYSTAND</h1>
    <div class="inner">
      <div class="login-buttons">
        <img class="login-button" src="/images/facebook-button.png"/>
        <img class="login-button" src="/images/google-button.png"/>
      </div>
      <p class='uppercase detail'><b>or</b></p>
      <p class='detail'><a href="#">Create a new Mystand account</a></p>
    </div>
    <p class="already" data-reveal-id="login-modal">Already have an account? <b>LOG IN</b></p>
  </div> 

  <div id="login-modal" class="reveal-modal sign-in-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <!-- <a class="close-reveal-modal" aria-label="Close">&#215;</a> -->
    <h1 class="logo">MYSTAND</h1>
    <div class="inner">
      <div class="login-input-wrapper">
        <form name="form" ng-submit="signIn()" novalidate>
          <input ng-model='user.email' id='user_email' name='user_email' type='email' ng-required='true'></input>
          <label>username</label>
          <input ng-model='user.password' id='user_password' name='user_password' type='password' ng-required='true'></input>
          <label>password</label>
          <input class="large button" type="submit" value="Sign In"/>
        </form>
      </div>
    </div>
   
    <!-- <p class="already">Forgot your password?</p> -->
  </div>
</div> 