<div ng-controller="SignInCtrl" id="sign-in-modal" class="reveal-modal sign-in-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="modal-position-wrapper">
    <a class="close-reveal-modal show-for-small-only" aria-label="Close">&#215;</a>
    <div class="inner">
      <h2 class="logo">MYSTAND</h2>
      <div class="login-buttons">
        <div class="facebook-button modal-button">Log in with <b>Facebook</b></div>
        <div class="google-button modal-button">Log in with <b>Google+</b></div>
      </div>
      <div class="row">
        <div class="small-5 columns">
          <hr/>
        </div>
        <div class="small-2 columns">
          <h3 class='uppercase detail'><b>or</b></h3>
        </div>
        <div class="small-5 columns">
          <hr/>
        </div>
      </div>
      <form name="form" ng-submit="signIn()" novalidate>
        <label class="user-label">email</label>
        <input auto-complete class="user-input" ng-model='user.email' id='user_email' name='user_email' type='email' ng-required='true'></input>
        <label class="user-label">password</label>
        <input auto-complete class="user-input" ng-model='user.password' id='user_password' name='user_password' type='password' ng-required='true'></input>
        <small class="modal-error">Incorrect Email or Password</small>
        <fieldset class="switch round small show-for-medium-up" tabindex="0">
          <span class="radio-detail user-label">Remember Me</span>
          <input id="remember-me" type="checkbox" name="remember_me" checked>
          <label for="remember-me"></label>
        </fieldset>
        <button class="login-button modal-button" type="submit" value="Sign In">log in</button>
      </form>
      <p class="account-links"><span>Create new account</span>
        </br>
        <span class="show-for-medium-up">Reset Password<span>
      </p>
    </div> 
  </div>
</div> 