<section class="ms-admin-center">
  <div class="row">
    <div class="large-12 columns ms-admin-center-inner">

      <div class="row">
        <div class="large-3 columns no-pad-left no-pad-right">
          <div class="ms-admin-menu-wrapper">
            <ng-include src="'assets/templates/admin/shared/menu.html'"></ng-include>
          </div>
        </div>

        <div class="large-9 columns no-pad-left no-pad-right">
          <div class="ms-admin-content">
            content here
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
