<ul class="ms-admin-menu">
  <li ng-class="{active: isCurrentPage('/admin/home')}">
    <a ng-href="/admin/home">Home</a>
  </li>
  <li ng-class="{active: isCurrentPage('/admin/users')}">
    <a ng-href="/admin/users">Accounts</a>
  </li>
  <li ng-class="{active: isCurrentPage('/admin/stands')}">
    <a ng-href="/admin/stands">Stands</a>
  </li>
  <li ng-class="{active: isCurrentPage('/admin/featured-stands')}">
    <a ng-href="/admin/featured-stands">Featured Stands</a>
  </li>
  <li ng-class="{active: isCurrentPage('/admin/flags')}">
    <a ng-href="/admin/flags">Flagged Content</a>
  </li>
</ul>
