<div class="off-canvas-wrap ms-profile-page" data-offcanvas>
  <div class="inner-wrap">
    <div class="invert-header">
      <ng-include onload="readyHeader()" src="'assets/templates/pub/shared/header.html'"></ng-include>
    </div>

    <ng-include src="'assets/templates/pub/profile/show.html'"></ng-include>

    <div class="nav-box">
      <section class="profile-manage-section">
        <div class="row stand-row">
          <a data-options="align:bottom; pip: center" data-dropdown="sort_by_dropdown" class="button sort-by left">Sort By<i class="fa fa-chevron-down right"></i></a>
          <ul id="sort_by_dropdown" class="f-dropdown sort-by-dropdown" data-dropdown-content>
            <li ng-class="{'selected': !filter}"><a ng-click="selectSort('active')">active</a></li>
            <li ng-class="{'selected': filter === 'inactive'}"><a ng-click="selectSort('inactive')">inactive</a></li>
            <li ng-class="{'selected': filter === 'closed'}"><a ng-click="selectSort('closed')">closed</a></li>
          </ul>
          <a ng-href="/start"><div class="ms-button-transparent black uppercase right create-button">create stand &nbsp; <i class="fa fa-plus"></i></div></a>
          <div ng-show="tabData['manage'].length === 0" class="clearfix">
            <br>
            <h4> You have no {{filter}} stands at this time.</h4>
          </div>
          <ul class="large-block-grid-4">
            <a ng-href="stands/{{stand.id}}">
              <li class="stand-column" ng-repeat="stand in tabData['manage']">
                <div class="user-stand">
                  <div class="user-img">
                    <img ng-src='{{stand.image_original_url}}'>
                  </div>
                  <div class="details">
                    <h5 class="uppercase"><a ng-href="/stands/{{stand.id}}">{{stand.title}}</a></h5>
                    <div class="bottom-part">
                      <div class="progress">
                        <span class="meter" style="width: {{stand.progressPercent}}%"></span>
                      </div>
                      <a ng-href="/stands/{{stand.id}}/edit"><div class="ms-button-transparent black uppercase" ng-click="loadForm(stand.id)">edit</div></a>
                    </div>
                  </div>
                </div>
              </li>
            </a>
          </ul>
        </div>

        <div ng-if="showLoadMore" class="load-more-wrapper">
          <button ng-click="loadMore('manage')" class="load-more">Load more</button>
        </div>
      </section>
    </div>

  </div>
</div>
