.ms-discover-page {
  padding-bottom: 200px;

  .get-started-box {
    border:1px solid #eee;
    border-radius:5px;
    text-align:center;
    text-transform:uppercase;
    padding:50px;
    margin:100px 150px;
    background:url('/images/swirl_pattern.png');

    .classic-link {
      color:#00b4ff;
      text-decoration: underline;
    }

    .start-button {
      color:#fff;
      background-color:#933232;
      padding:20px 30px;
      width:250px;
      margin:0 auto;
      border-radius:5px;
      cursor:pointer;
      transition:.15s linear;
      &:hover {
        background-color:#B23D3D;
      }
      h4 {
        font-weight:400;
        font-size:16pt;
        line-height:25pt;
      }
    }
  }

  .category-bg, .button-title {
    width:200px;
    height: 125px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
  }

  .button-title {
    position:absolute;
    top:0;
    z-index:2;
  }

  .category-wrapper {
    position:relative;
    overflow:hidden;
    width: 184px;
  }
   
  .zoom-out {
    -webkit-transform: scale(1.15); 
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }

  .discover-categories {
    background-image: url('/images/discover/categories-bg.png');
    border-bottom: 1px solid #dedede;
    padding-bottom: 4em;
    position: relative;

    h3 {
      display: block;
      text-align: center;
      margin-top: 4em;
      margin-bottom: 1em;
    }

    &:before, &:after {
      // Triangle
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-bottom: 0;
    }
    &:before {
      // Triangle
      bottom: -40px;
      left: 49%;
      border-top-color: #dedede;
      border-width: 40px;
    }
    &:after {
      // Triangle
      bottom: -39px;
      left: 49%;
      border-top-color: #f7f8f9;
      border-width: 40px;
    }

    .categories-list {
      list-style: none;
      margin: 0;

      li {
        display: block;
        float: left;
        margin: 0 10px 10px 0;
        text-align: center;
        width: 184px;
        position:relative;

        &:hover {
          .color {
            opacity:1;
          }
        }

        .color {
          opacity:0;
          position:absolute;
          z-index:1;
          &.active {
            opacity:1;
          }
        }

        .category-1 {
          &.color {  
            background-image: url('/images/categories/biosphere.png');
          }
          &.bw {
            background-image: url('/images/categories/biosphere-bw.png');
          }
        }
        .category-2 {
          &.color {  
            background-image: url('/images/categories/climate.png');
          }
          &.bw {
            background-image: url('/images/categories/climate-bw.png');
          }
        }
        .category-3 {
          &.color {  
            background-image: url('/images/categories/energy.png');
          }
          &.bw {
            background-image: url('/images/categories/energy-bw.png');
          }
        }
        .category-4 {
          &.color {  
            background-image: url('/images/categories/food.png');
          }
          &.bw {
            background-image:  url('/images/categories/food-bw.png');
          }
        }
        .category-5 {
          &.color {  
            background-image: url('/images/categories/population.png');
          }
          &.bw {
            background-image: url('/images/categories/population-bw.png');
          }
        }
        .category-6 {
          &.color {  
            background-image: url('/images/categories/consumerism.png');
          }
          &.bw {
            background-image: url('/images/categories/consumerism-bw.png');
          }
        }
        .category-7 {
          &.color {  
            background-image: url('/images/categories/poverty.png');
          }
          &.bw {
            background-image: url('/images/categories/poverty-bw.png');
          }
        }
        .category-8 {
          &.color {  
            background-image: url('/images/categories/social-justice.png');
          }
          &.bw {
            background-image: url('/images/categories/social-justice-bw.png');
          }
        }
        .category-9 {
          &.color {  
            background-image: url('/images/categories/war-and-conflict.png');
          }
          &.bw {
            background-image: url('/images/categories/war-and-conflict-bw.png');
          }
        }
        .category-10 {
          &.color {  
            background-image: url('/images/categories/secure-our-future.png');
          }
          &.bw {
            background-image: url('/images/categories/secure-our-future-bw.png');
          }
        }

        button {
          background: none;
          display: block;
          height: 125px;
          line-height: 125px;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          width: 100%;
        }
      }
    }
  }

  .discover-stands {
    padding: 4em 0;

    .selected-keywords {
      margin-bottom: 2em;

      .keyword {
        border: 2px solid #000;
        padding: .5em 1em;
        position: relative;
        text-transform: uppercase;
        margin: 0 .5em .5em 0;
        line-height: 1em;

        .unselect {
          top: 2px;
          right: 3px;
          position: absolute;
          line-height: 1em;
          font-size: .7em;
          font-weight: bold;
        }
      }
    }

    .sort-by {
      background-repeat: no-repeat;
      background-color: initial;
      background-image: url("/images/discover/sort-by-icon.png");
      background-position: 95% center;
      border: 2px solid #323131;
      color: #000;
      float: right;
      text-transform: uppercase;
      padding: .5rem 2.5rem .5rem 1rem;
    }

    .f-dropdown {
      background: #323131;
      border: none;
      color: #fff;
      text-transform: uppercase;

      &:before, &:after {
        display: none;
      }

      a {
        color: #fff;
        padding: 0.5rem 1rem;
      }

      li {
        &.selected, &:hover {
          background: #78bbb3;
        }
      }
    }

    .stand-item {
      border: 1px solid #d8d8d8;
      height: 405px;
      overflow: hidden;
      margin-bottom: 30px;

      .image-wrapper {
        height: 165px;

        img {
          width: 100%;
        }
      }

      .info-wrapper {
        padding: 20px;
      }

      h6 {
        margin-bottom: 0;
        text-transform: uppercase;
      }

      i {
        font-size: .8em;
      }

      .description {
        color: #949494;
        display: block;
        font-size: .8em;
        height: 85px;
        margin-bottom: 5px;
        overflow: hidden;
      }

      .count-detail {
        color: #949494;
        font-size: .8em;
      }

      .goal-progress {
        background-color: #b8b8b8;
        height: 10px;
        margin-bottom: 5px;

        .inner {
          height: 100%;
          width: 0px;
          background-color: #933232;
        }
      }
    }

    .load-more-wrapper {
      text-align: center;
      overflow: hidden;

      .load-more {
        background: none;
        border: 2px solid #000;
        color: #000;
        text-transform: uppercase;
        padding: .8em 2em;
        font-size: .8em;
      }
    }
  }
}
