/*
 * Footer
 *
*/

$footer-height: 200px;

.ms-footer {
  background: #363636;
  cursor:default;
  color: #fff;
  letter-spacing:.25em;
  height: $footer-height;

  h6 {
    color: #fff;
  }

  .logo {
    font-size:15pt;
    float:left;
  }

  .inner {
    @include vertical-align-center;
  }

  .right-side {
    float:right;
  }

  li {
    display:inline-block;
    text-transform:uppercase;
    font-size:5pt;
    @media #{$small} { 
      font-size:10pt;
    }

    &.divider {
      font-size:7pt;
      margin: 0px;
      letter-spacing:.1em;
      @media #{$small} { 
        margin: 0px 5px;
        font-size:15pt;
        letter-spacing:.25em;
      }
    }
  }

  li:not(.divider){
    cursor:pointer;
    &:hover {
      color: #ccc;
    }
  }
}
