/*
 * Header
 *
*/

$header-height: 100px;

.ms-header-guest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  // background: rgba(0, 0, 0, 0.4);
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;

  a {
    color: #fff;
    &:hover {
      color: #ccc;
    }
  }

  .logo {
    float: left;
    text-transform: uppercase;
    margin-right:60px ;

    span {
      color: #00CCFF;
    }

    img {
      width: 60%;
    }
  }

  .header-nav {
    color: #fff;
    margin-right: 10px;
    text-transform: uppercase;

    .divider {
      margin:0 .3em;
    }

    .left-side {
      display:inline-block;
      float:left;
    }

    .right-side {
      display:inline-block;
      float:right;
      .search {
        margin-right:60px;
      }
    }

    ul {
      line-height: $header-height;
      margin: 0;

      li {
        display: inline-block;
        font-size:15px;
        letter-spacing:.25em;
      }
    }
  }
}
