.ms-bg-1 {
  background-image: url("/images/landing/bg-1.jpg");
  color: #fff;
}

.ms-bg-2 {
  background-image: url("/images/landing/citygirl.png");
  color: #fff;
  background-attachment:fixed;
}

.fa-bg-2 {
  h4 {
    font-weight:400;
  }
}

.ms-bg-3 {
  background-color:#fff;
  padding:100px 0px;
}

.header-section {
  span {
    font-size: 18pt;
  }
  .narrow {
    width:70%;
    margin:0 auto;
  }
}

.join-section {
  height:400px;
}

.appstore-section {
  .ms-page-content {
    padding-bottom:200px;
    padding-top:200px;
    position:relative;

    h2 {
      line-height:10pt;
    }
    h3 {
      line-height:1em;
    }
    .uppercase {
      line-height:40pt;
    }
    
    img.iphone {
      width:450px;
      position:absolute;
      bottom:-201px;
      left:50px;
    }
  }
}
