.header-bg {
  background-image: url("/images/landing/bg-1.jpg");
  color: #fff;
}

.city-bg {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/images/landing/city.png");
  background-position: center center;
  color: #fff;
  background-attachment:scroll;
}

.girl-bg {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/images/landing/girl.png");
  background-position: center center;
  color: #fff;
  background-attachment:scroll;
}

.white-bg {
  background-color:#fff;
  padding:100px 0px;
}

.fa-bg-2 {
  h4 {
    font-weight:400;
  }
}

.mask-dark {
  // background-color:rgba(0,255,255,.5);
  height:100%;
  width:100%;
  z-index:3;
  position:relative;
}

.header-section {
  span {
    font-size: 18pt;
  }
  .narrow {
    width:70%;
    margin:0 auto;
  }
}

.featured-section {
    background-position: center 0px;
}

.join-section {
  height:400px;
}

.ms-featured-stands {
  .featured-stand {
    .progress {
      border: 0;
      padding: 0;
      .meter {
        margin: 0;
        background-color: #933232;
      }
    }
  }
}

.appstore-section {
  .ms-page-content {
    padding-bottom:100px;
    padding-top:200px;
    position:relative;

    h2 {
      line-height:10pt;
    }
    h3 {
      line-height:1em;
    }
    .uppercase {
      line-height:40pt;
    }
    
    img.iphone {
      width:450px;
      position:absolute;
      bottom:-201px;
      left:50px;
    }
  }
}
