.ms-stands-show-page {
  padding-bottom:200px;
  font-size:13pt;

  .ms-stand {
    background-color:#f6f6f6;
    padding-bottom:100px;

    .title-box {
      text-align:center;
      padding:100px 0px 20px 0px;
    }

    .movie-part {
      padding-left:0px;
      .youtube-player {
        height:380px;
        margin-bottom:15px;
      }
    }
 
    .details-box {
      border-bottom:1px solid #ccc;
      .count {
        color:#333;
        font-size:60pt;
        font-weight:800;
        line-height:.7em;
        &:last-of-type {
          padding-top:20px;
        }
      }
      .count-detail {
        font-size:16pt;
      }
    }

    .impact {
      display:none;
      clear:both;
      background-color:#eee;
      padding:3px 7px;
      margin:10px 0px;
      float:left;
    }


    .left {
      float:left;
      clear:both;
      .fa {
        margin:0px 5px;
      }
      .share-detail {
        margin: 3px 5px 15px 0px;
      }
    }
    .right {
      float:right;
      .fa {
        margin:0px 15px 0px 10px;
        cursor:pointer;
      }
      span { 
        cursor:pointer;
      }
    }
    .stand-description {
      font-size:18pt;
      font-weight:600;
      line-height:36px;
    }
  }

  .center-nav-bar {
    background-color:#fff;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;    
    li {
      display:inline-block;
      text-decoration: none;
      padding:15px;
      width:140px;
      text-align:center;
      text-transform: uppercase;
      border-right:1px solid #ccc;
      cursor:pointer;
      transition:.15s linear;
      &.scroll-top-button {
        margin-left: 200px;
        border-right: 0px;
        width: 200px;
      }
      &:first-child {
        border-left:1px solid #ccc;
      }
      &.active {
        color:#ff3333;
      }
      &:hover {
        color:#ff3333;
      }
    }
  }

  .nav-box {
    background-color:#fff;
    height:100%;
    padding:50px 0px 200px 0px;

    .tab-detail {
      font-size:14pt;
      line-height:21pt;
    }
    .tab-date {
      color: #999;
      margin:-10px 0px 35px 0px;
    }
    .tab-divider {
      width:40%;
      border-color: #333;
      margin:50px 0px;
    }
  }

  .stand-update {
    padding-bottom:40px;
  }


  .action {
    .action-box {
      border:1px solid #ccc;
      margin-top:20px;
    }
    .details-box {
      padding: 15px 15px 40px 10px;
      .fa-flag {
        float:right;
        padding-top:3px;
      }
    }
  }

  .social-icon {
    float:left;
    padding:0 7px 0px 7px;
    margin-top:2px;
    cursor:pointer;
  }

  .disqus-thread {
    padding:0px 100px;
  }

  .disqus-box {
    display:none;
  }

  .detail {
    display:block;
    &.link {
      margin-bottom:5px;
      cursor:pointer;
    }
    &.record { 
      margin-bottom:10px;
      letter-spacing:.1em;
    }
  }

  .author-title {
    font-size:21pt;
    letter-spacing:.1em;
    font-weight:600;
    margin:10px 0px 0px 50px;
    width:500px;
    cursor:pointer;
  }

  .action-button {
    background-color:#933232;
    color:#fff;
    border-radius:5px;
    padding:10px;
    width:280px;
    text-align:center;
    margin:60px 0px;
    cursor: pointer;
    font-size:16pt;
    &:hover {
      background-color:#B03C3C;
    }
    &.alt {
      margin: 100px auto 0px auto;
    }
  }

  .fa-flag, .fa-bookmark {
    color:#555;
    font-size:15pt;
  }


  .sticky {
    position:fixed;
    width:100%;
  }
}
