// MODALS
.dialogue-modal {
  background-color:#404040;
  color:#fff;
  text-align:center;
  max-width:650px;
  border:none;
  outline:none;

  .inner-wrapper {
    margin:0 5%;
  }

  .dialogue-button {
    background-color:#008aff;
    text-transform: uppercase;
    padding:5px 0;
    border-radius:5px;
    font-size:16px;
    letter-spacing:.1em;
    cursor:pointer;
    width:100%;
    @media #{$small} { 
      padding:10px 0;
    }
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    &:hover {
      background-color:#2AA7FF;
    }
    &.cancel {
      background-color:red;
      &:hover {
        background-color:#FF3939;
      }
    }
  }

}

.sign-in-modal {
  background-color:#404040;
  color:#fff;
  text-align:center;
  width:100%;
  max-width:550px;
  min-width:0px;
  left:5px;
  padding:0px;
  border-width:0px;
  font-weight:400;
  position:fixed;
  @media #{$small} { 
    width:40%;
    left:0px;
    min-width:400px;
  }

  h3 {
    font-weight:500;
  }

  hr {
    margin:.7em 0px;
    @media #{$small} { 
      margin:1em 0px;
    }
  }

  .modal-error {
    display:none;
    background-color:#B5D4DE;
    color:#000;
    font-size:14pt;
    padding:10px 0px;
  }
 
  // .modal-position-wrapper {
  //   background-color:#484949;
  //   margin-top:0px;
  //   @media #{$small} { 
  //     margin-top:50px;
  //   }
  // }

  .logout-wrapper {
    padding:50px;
    position:relative;
    background-color:#484949;
    border-radius:5px;
  }


  .logo {
    line-height:20px;
    padding: 20px 0px 5px 0px; 
    @media #{$small} { 
      padding: 40px 0px 0px 0px; 
    }
    margin-left:0px;
    letter-spacing:.1em;
    font-weight:300;
    @media #{$small} { 
      line-height:20px;
      margin-left:10px;
    }
  }

  .switch {
    float:right;
    margin-bottom:20px;
    .radio-detail {
      position:absolute;
      right:45px;
      width:250%;
      bottom:5px;
    }
    label {
      background-color:#bbb;
    }
  }

  .modal-button {
    padding:5px 0;
    @media #{$small} { 
      padding:10px 0;
    }
    border-radius:5px;
    font-size:16px;
    letter-spacing:.1em;
    cursor:pointer;
    width:100%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    b {
      font-weight:400;
    }
    &:not(b) {
      font-weight:300;
    }
  }

  .input-label {
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    height:20px;
    padding:0px 0px 20px 5px;
    @media #{$small} { 
      padding:10px 0px 25px 5px;
    }
    font-size:10pt;
    letter-spacing:.2em;
  }

  .login-buttons {
    margin-top:0px;
    padding:0px;
    @media #{$small} { 
      margin-top:20px;
      padding:10px 0px;
    }
    .facebook-button {
      background-color:#3b5998;
      margin:10px 0;
      @media #{$small} { 
        margin:30px 0px;
      }
      &:hover {
        background-color:#4061A6;
      }
    }
    .google-button {
      background-color:#d34836;
      margin:10px 0;
      @media #{$small} { 
        margin:30px 0px;
      }
      &:hover {
        background-color:#EB503C;
      }
    }
  }

  .login-button {
    background-color:#008aff;
    text-transform: uppercase;
    margin:10px 0px;
    @media #{$small} { 
      margin:0px 0px 30px 0px; 
    }
    &:hover {
      background-color:#289EFF;
    }
  }

  .inner {
    // gradient
    background: #484949; /* Old browsers */
    // background: -moz-linear-gradient(top,  #505050 0%, #323232 100%, #505050 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(100%,#323232), color-stop(100%,#505050)); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(top,  #505050 0%,#323232 100%,#505050 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(top,  #505050 0%,#323232 100%,#505050 100%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(top,  #505050 0%,#323232 100%,#505050 100%); /* IE10+ */
    // background: linear-gradient(to bottom,  #6b6b6b 0%,#323232 100%,#505050 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#505050',GradientType=0 ); /* IE6-9 */
    // end
    border-radius:5px;
    padding:0px 20px 10px 20px;
    z-index:2;

    .detail { 
      margin:0px;
      font-size:12pt;
      @media #{$small} { 
        font-size:18pt;
      }
      &:not(b) {
        font-weight:300; 
      }
      a {
        &:hover {
          color: #ccc;
        }
      }
    }

    .input-field {
      background-color:#fff;
      border-radius:7px;
      font-size:17pt;
      height:30px;
      margin-bottom:.3em;
      @media #{$small} { 
        height:37px;
        margin-bottom:.7em;
      }
    }
  }

  .account-links {
   line-height:25px;
   letter-spacing:.2em;
   cursor:pointer;
   @media #{$small} { 
    line-height:40px;
   }
    &:not(b) {
      font-weight:300; 
    }
    span:hover {
      color: #ccc;
    }
  }
}


.media-modal {
  padding:0px;
  background-color:#fff;
  border:0px;

  .author-title {
    font-size:21pt;
    letter-spacing:.1em;
    font-weight:600;
    margin:10px 0px 5px 50px;
    width:500px;
    cursor:pointer;
  }

  .modal-youtube-player {
    height:450px;
  }
  
  .inner-wrapper {
    margin:0px;
    .image-part {
      background-color:#000;
      padding:0px;
      margin-left:-1px;
    }
  }

  .detail {
    display:block;
  }

  .details-box {
    padding:20px;
    color:#333;
  }

  .icons-box {
    position:absolute;
    bottom:15px;
    left:0px;
    width:100%;
    padding-left:15px;;

    .fa-flag {
      float:right;
      padding-top:3px;
      margin-right:25px;
      font-size:15pt;
      color:#555;
      cursor:pointer;
    }
    .social-icon {
      float:left;
      padding:0 7px 0px 7px;
      margin-top:2px;
      cursor:pointer;
    }
  }
}

.create-action-modal {
  .upload-input {
    display:none;
  }
  .input-path {
    width:300px;
    float:left;
    font-size:15pt;
    padding: 21px 20px;
    margin-right:10px;
    border-radius:5px;
    width:67%;
  }
  .upload-button {
    border:3px solid #fff;
    padding:10px;
    border-radius:5px; 
    width: 150px;
    color: #fff;
    float:right;
    transition:.15s linear;
    &:hover {
      background-color:#fff;
      color:#555;
    }
  }

  .cancel {
    margin-right:20px;
    font-size:12pt;
  }

  .right {
    margin-top:40px;
    cursor:pointer;
  }

  .dialogue-button {
    border: 0px;
    width: 150px;
    color: #fff;
  }
}