<header class="ms-header-guest">
  <div class="row">
    <div class="large-12 columns">
      <div class="logo">
        <a ng-href="#/"><img src="/images/header-logo.png" /></a>
      </div>
      <nav class="header-nav">
        <ul>
          <li><a ng-href="#/discover">Discover</a></li>
          <li><a ng-href="#/start">Start</a></li>
          <li><a>Search</a></li>
          <li><a ng-href="#/sign-up">Sign Up</a></li>
          <li><a ng-href="#/sign-in">Log In</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
