<header ng-controller="HeaderCtrl"  class="ms-header-guest">
<!-- <header class="ms-header-guest" ng-class="{inverted:isHeaderInverted()}"> -->
  <div class="row">
    <div class="large-12 columns">

      <nav class="header-nav show-for-medium-up">
        <ul>
          <div class="left-side">
            <li class="logo"><a ng-href="/home">MYSTAND</a></li>
            <li><a ng-href="/discover">Discover</a></li>
            <li class="divider">|</li>

            <li><a ng-click="signInRedirect('start')">Start</a></li>
          </div>
          <div class="right-side">
            <li>
              <form class="search-container" name="headerSearchForm" ng-submit="headerSearch()" novalidate>
                <input id="header_search_query" class="search-box" ng-model="headerSearchQuery" type="text" />
                <label for="header_search_query"><i class="fa fa-search"></i></label>
                <input type="submit" class="search-submit" />
              </form>
            </li>
<!--             <li ng-if="currentUser.is_admin && isSignedIn"><a>Admin</a></li>
            <li ng-if="currentUser.is_admin && isSignedIn" class="divider">|</li> -->
            <li ng-if="!isSignedIn"><a ng-href="/sign-up">Sign Up</a></li>
            <li ng-if="isSignedIn && currentUser.image_original_url"><img class="avatar" ng-src="{{currentUser.image_original_url}}" ng-href="/profile"/></li>
            <li ng-if="isSignedIn && !currentUser.image_original_url"><img class="avatar" src="http://www.musica100.com/assets/images/default_avatar.jpg" ng-href="/profile"/></li>
            <li ng-if="!isSignedIn" class="divider">|</li>
            <li ng-if="!isSignedIn"><a ng-click="signInRedirect()">Log In</a></li>
            <li ng-if="isSignedIn">
              <div class="activism-score-box">
                <span class="number">234</span>
                <span>activism score</span>
              </div>
            </li>
            <li><i class="fa fa-chevron-down"></i></li>
            <!-- <li ng-if="isSignedIn"><a ng-click="signOut()">Logout</a></li> -->
          </div>
        </ul>
      </nav>

      <nav class="mobile-header-nav show-for-small-only">
        <form class="mobile-search-container" action="">
          <input id="search-box" type="text"/>
          <label for="search-box"><i class="fa fa-search"></i></label>
          <input type="submit" class="search-submit" />
        </form>
        <a class="right-off-canvas-toggle"><i class="fa fa-bars"></i></a>
      </nav>

    </div>
  </div>
</header>

<ng-include src="'assets/templates/modals/sign-in.html'"></ng-include>
