.ms-header-guest {
  position:fixed;
  background-color:transparent;
  color:#fff;
  // background-color:rgba(0,0,0,.8);
  // height: $header-height-small;
  // @media #{$small} {
  //   position: absolute;
  //   height: $header-height;
  //   background-color:rgba(0,0,0,0);
  // }
  background-color:rgba(0,0,0,0);
  position: absolute;
  height: $header-height;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  a {
    color: inherit;
    letter-spacing:.25em;
    &:hover {
      color: #ccc;
    }
  }

  .avatar {
    height: 45px;
    border-radius: 100%;
    margin-bottom: 25px;
    cursor: pointer;
  }

  // SEARCH BOX ANIMATION //
  $tl: 0.6s; // transition length

  .search-container {
    position:relative;
  }

  .search-box {
    transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
    width: 32px; height: 32px;
    border-radius: 1px;border: none;
    cursor: pointer;
    background: rgba(0,0,0,0);
    float:left;
    border-color:#fff !important;
    box-shadow:none;

    &:hover {
      label {
        color: #ccc;
      }
    }

    &:focus {
      transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
      border: none;outline: none;
      box-shadow: none;
      padding-left: 15px;
      padding-right:35px;
      cursor: text;
      width: 250px;
      border-radius: auto;
      background: rgba(50,50,50,.8);
      color: #ccc;
      & + label .fa-search {
        color: #bbb;
      }
    }

    &:not(:focus) {
      text-indent:-5000px;
    }
  }

  .search-submit {
    position: relative;left: -5000px;
  }

  label {
    color: inherit;
    position: relative;
    left:-25px;
    top:5px;
    float:left;
    .fa-search {
      font-size:15pt;
      &:hover {
       color: #bbb;
      }
    }
  }
// END //

  .logo {
    float: left;
    text-transform: uppercase;
    margin-right:60px ;

    span {
      color: #00CCFF;
    }

    img {
      width: 60%;
    }
  }

  .header-nav {
    color: inherit;
    margin-right: 10px;
    margin-top:10px;
    text-transform: uppercase;

    .divider {
      margin:0 .3em;
    }

    ul {
      line-height: $header-height;
      margin: 0;

      li {
        display: inline-block;
        font-size:15px;
      }
    }
    .dropdown-wrapper {
      position:absolute;
    }
    .header-dropdown {
      padding:10px;
      line-height:10pt;
      border-color:#fff;
      margin:15px 0px 0px -9px;
      @media screen and (min-width: 1600px) {
        margin:15px 0px 0px 7px;
      }
      // @media screen and (min-width: 1435px) {
      //   margin:15px 0px 0px 7px;
      // }
      li {
        display:block;
        a {
          padding:.3em;
          &:hover {
            color:#000;
          }
        }
      }
    }

    .activism-score-box {
      span {
        display:block;
        line-height:15pt;
        font-size:11pt;
        text-transform: uppercase;
        text-align:right;
        margin:0 20px;
        letter-spacing:.25em;
        &.number {
          font-size:15pt;
        }
      }
    }

    .fa-chevron-down {
      padding:5px;
      background-color:transparent;
      font-size:15pt;
      color:#fff;
      border-radius:100%;
      cursor:pointer;
      transition: .15s linear;
      &:hover {
        background-color:#888;
      }
    }

    .left-side {
      display:inline-block;
      float:left;
    }

    .right-side {
      display:inline-block;
      float:right;
      .first {
        &:first-child {
          float:left;
          margin:34px 0px 0 0;
        }
      }
      .search {
        margin-right:60px;
      }
    }
  }

  .mobile-header-nav {
    position:relative;

    .mobile-search-container {
      margin:15px 0 0 15px;
      width:70%;
      float:left;

      input {
        height:30px;
        border-radius:10px;
        border:1px solid #dedede;
      }

      label {
        position:absolute;
        left:67%;
        top:19px;
        i {
          color:#555;
        }

      }
    }
    .fa-bars {
      color:inherit;
      font-size:25pt;
      position:absolute;
      top:14px;
      right:5px;
    }
  }
}

.invert-header {
  background-color:#fff;
  color:#000;
  height:100px;
  .ms-header-guest {
    border-bottom: 2px solid #ccc;
  }
  a, li {
    color:#000 !important;
  }

  .header-dropdown {
    border-color:#ccc !important;
    background-color:#ccc;
    box-shadow: -5px 5px 0px 3px rgba(0,0,0,0.3);
    &.open:before {
      border-color: transparent transparent #ccc transparent;
    }
    li {
      a {
        &:hover {
          color:#000;
        }
      }
    }
  }
}
