<div class="off-canvas-wrap full ms-create-page" data-offcanvas>
  <div class="inner-wrap">
    <div class="invert-header">
      <ng-include onload="readyHeader()" src="'assets/templates/pub/shared/header.html'"></ng-include></ng-include></ng-include>
    </div>

    <section class="welcome-section">
      <div class="header-space blue">
        <h1 class="header-space-title">welcome to my stand</h1>
        <div class="triangle-mask-block">
          <div class="left-rect left"></div>
          <div class="inverted-triangle-box">
            <div class="inverted-triangle lefty">
              <div class="rect"></div>
            </div>
            <div class="inverted-triangle righty">
              <div class="rect"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row narrow">
        <div class="large-12 columns">
          <div class="welcome-box">
            <h4>your account has been verified!</h4>
            <h4>click <a class="classic-link" ng-href="/profile">here</a> to complete your profile</h4>
            <br>
            <h4>or</h4>
            <br>
            <a ng-href="{{goTo}}"><button class="start-button uppercase"><h4>get started</h4></button></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
