<div class="off-canvas-wrap full ms-stands-show-page" data-offcanvas>
  <div class="inner-wrap">
    <div class="invert-header">
      <ng-include src="'assets/templates/shared/header.html'"></ng-include>
    </div>

    <div class="row">
      <div class="large-12 columns title-box">
        <h2>STAND NAME</h2>
        <p>By John Doe</p>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns">
        <h1>IMG</h1>
      </div>
      <div class="large-5 columns">
        <div class="details-box">
        <h1>234</h1>
        <p class="uppercase">heroes of 1420</p>
        <h1>29</h1>
        <p class="uppercase">days to go</p>
        <button class="uppercase">take action</div>
      </div>
      </div>
    </div>
  </div>
</div>
  
